body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.container {
    text-align: center;
    padding: 10%;
}

header {
    background-color: #007bff;
}

.container h1 {
    color: #007bff;
}

/* Media query para hacer el formulario más responsivo en pantallas pequeñas */
@media (max-width: 767px) {
    .container {
        margin-top: 70px;
        /* Ajusta el margen superior para dejar más espacio para el menú en pantallas pequeñas */
    }
}